@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: antiquewhite;
}
iframe{
    height: 95vw;
    width: 95vw;
    border-radius: 20px;

}
h1{
    color: rgb(197, 108, 0);
    height: bold;
    font-size: 10vw;
}
