ul {
    text-align: end;
   
}
div#container{
    
    border-radius: 10px;
    text-align: left;
    
   
}
footer{
    text-align: center;
   
}
h1 {
    margin-left: 20px;
    margin-top: 10px;
    font: bolder 40px Arial;
}
header {
   background-color: rgb(194, 170, 170);
   border-radius: 20px;
}